@import url("https://fonts.cdnfonts.com/css/tt-norms-pro");

:root {
    --color-accent: #756d7b;
    --font-family: "Cormorant", serif;
}

$font-family: "Cormorant", serif;
$font-weight: 400;
$font-size: 10px;
$color-accent: #756d7b;
$color-grey: #f9f9f9;
$transition: all 0.2s ease-in-out;

@mixin mobile {
    @media (max-width: 575px) {
        @content;
    }
}

@mixin sm-tablet {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin l-tablet {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: 1220px) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $font-size;
    line-height: 1;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    display: none;
}

body {
    font-size: 1rem;
    font-weight: $font-weight;
    overflow-x: hidden;
    overflow-y: scroll;
    background: $color-grey;
    color: #000;
}

.container {
    width: 100%;
    position: relative;
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
}

.index-page {
    .container {
        padding: 0 20px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 700px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 990px;
    }
}

@media (min-width: 1140px) {
    .container {
        max-width: 1100px;
    }
}

a {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

.g-wrap {
    min-width: 400px;
    margin: 0 auto;
    font-family: var(--font-family);
}

.outer-bg {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow: hidden;
}

.show {
    opacity: 1 !important;
    visibility: visible !important;
    display: block !important;
}

.d-none {
    display: none;
}

.stop-scroll {
    overflow: hidden;
}

main {
    position: relative;
    width: 100%;
    position: relative;
}

.btn {
    display: block;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 39px;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    font-family: var(--font-family);
    cursor: pointer;
    transition: $transition;
    white-space: nowrap;
    min-width: 200px;
    text-align: center;

    &.filled {
        border-color: var(--color-accent);
        background: var(--color-accent);
    }

    &.darker {
        color: var(--color-accent);
        border: 1px solid var(--color-accent);
    }

    img,
    svg {
        pointer-events: none;
    }
}

.block {
    margin-top: 80px;
}

.h2 {
    text-transform: uppercase;
    font-size: 3.2em;
    font-weight: 700;
    margin-bottom: 1.25em;
}

@import "chunk/*.scss";
@import "index/*.scss";
@import "events/*.scss";
@import "event/*.scss";
@import "about/*.scss";
