.about-content.content
    .content__wrapper.container
        .content__title Мы - истинные архитекторы <span>гастрономических впечатлений</span>, создающие <span>неповторимые моменты</span> для каждого гостя.
        .content__image
            .col
                .img-cage
                    img(src="img/about-1.png", alt="")
            .col.right
                .img-cage
                    img(src="img/about-2.png", alt="")
        .content__texts
            .text Наша ресторанная группа – это не просто место, где вы приходите поесть, это место, где вы наслаждаетесь каждым кусочком, где встречаются вкус и эстетика, создавая неповторимую атмосферу.
            .text От романтических ужинов до деловых обедов, от семейных торжеств до встреч с друзьями – мы гордимся тем, что можем предложить идеальное место для любого случая.
        .content__block.block
            .col
                .title Программа лояльности
                .text С каждым вашим заказом на сумму от 2000 рублей вы становитесь участником программы и получаете заслуженное звание постоянного клиента. Это означает, что вы получаете эксклюзивное право на скидку 5% на следующий заказ!
            .col.image
                .img-cage
                    img(src="img/block-1.png", alt="Block image")
        .content__block.block
            .col
                .title Подарочные сертификаты
                .text Ищете идеальный подарок для своих близких? Подарите незабываемые гастрономические впечатления с нашими подарочными сертификатами! Наш ресторан предлагает разнообразие блюд, приготовленных с любовью и только из свежих ингредиентов. Подарочный сертификат позволит вашему другу, коллеге или родственнику насладиться изысканными блюдами и уютной атмосферой нашего заведения.
            .col.image
                .img-cage
                    img(src="img/block-2.png", alt="Block image")