.restonav.block.inner
    .restonav__wrapper.container
        .restonav__title.h2 Контакты
        .restonav__items
            .restonav__item.item
                .item__name The View
                .item__info
                    .col
                        p г. Минск, пр-т Победителей, 7а
                        a(href="") +375 44 702 8888
                        a(href="") theview@nrg.by
                    .col
                        p Пн. - Вс.: с 11.00 до 23.30
                .item__btn.btn Проложить маршрут
            .restonav__item.item
                .item__name Тусэ
                .item__info
                    .col
                        p г. Минск, ул. Сурганова, 57б
                        a(href="") +375 44 709 2222
                        a(href="") tuse@nrg.by
                    .col
                        p Пн-Чт: с 12.00 до 00.00<br>Пт: с 12.00 до 03.00<br>Сб: с 15.00 до 03.00<br>Вс: выходной
                .item__btn.btn Проложить маршрут
            .restonav__item.item
                .item__name Поедим поедим
                .item__info
                    .col
                        p г. Минск, Боровлянский сельсовет, 55
                        a(href="") +375 29 105 6666
                        a(href="") amizbel@mail.ru
                    .col
                        p Пн - Вс: 10.00 – 00.00
                .item__btn.btn Проложить маршрут
            .restonav__item.item
                .item__name Кейтеринг
                .item__info
                    .col
                        p  г. Минск, Сурганова 57Б, офис 120
                        a(href="") +375 29 388 8488
                        a(href="") sales@magic-catering.by
                    .col
                        p Пн. - Пт.: c 9:00 до 18:00
                .item__btn.btn Проложить маршрут