<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NRG</title>
    <link rel="stylesheet" href="css/main.min.css"><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="libs/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="libs/slick/slick-theme.css"/>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="libs/slick/slick.min.js"></script>
    <script src="libs/scrollreveal/scrollreveal.min.js"> </script>
  </head>
  <body></body>
  <div class="g-wrap global index-page">
    <div class="outer-bg">
      <header class="header">
        <div class="header__wrapper container">
          <div class="header__col">
            <div class="header__email"><a href="">belnov@tut.by</a></div>
          </div>
          <div class="header__col center">
            <div class="header__logo">
              <div class="img-cage"> <img src="img/logo-header.svg" alt="Logo"></div>
            </div>
          </div>
          <div class="header__col">
            <div class="header__lang">
              <div class="lang">РУС</div>
              <div class="lang">ENG</div>
            </div>
            <div class="header__menu">
              <div class="menu-icon menu-toggle"><img src="img/i-burger.svg" alt="Open burger menu"></div>
              <div class="menu-wrap menu">
                <div class="menu__wrapper">
                  <div class="menu__close menu-toggle"><svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="21.3536" y2="20.6464" stroke="white"/>
<line y1="-0.5" x2="28.2843" y2="-0.5" transform="matrix(-0.707107 0.707107 0.707107 0.707107 21 1)" stroke="white"/>
</svg>
                  </div>
                  <nav class="menu__body">
                    <ul>
                      <li><a href="">Главная</a></li>
                      <li><a href="">События</a></li>
                      <li><a href="">О нас</a></li>
                      <li><a href="">Наши заведения</a>
                        <ul>
                          <li><a href="">The View</a></li>
                          <li><a href="">Тусэ</a></li>
                          <li><a href="">Поедим поедим</a></li>
                          <li><a href="">кейтеринг</a></li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main class="g-main">
        <div class="inner-banner banner">
          <div class="banner__wrapper container">
            <div class="banner__col text">
              <div class="wrap"> 
                <div class="banner__title">Открытие веранды</div>
                <div class="banner__text">Ресторан The View открывает веранду на 28 этаже, чтобы вы могли радоваться своими любимыми блюдами с головокружительным видом на исторический центр Минска.</div>
                <div class="banner__btns">
                  <div class="btn filled">Забронировать</div>
                  <div class="btn darker">Подробнее</div>
                </div>
              </div>
            </div>
            <div class="banner__col image">
              <div class="img-cage"><img src="img/inner-banner.png" alt="Inner banner"></div>
            </div>
          </div>
        </div>
        <div class="inner-events events block">
          <div class="events__wrapper container">
            <div class="events__tabs d_tabs">
              <div class="tab selected wide" data-tab="1">Все рестораны</div>
              <div class="tab" data-tab="2">The View</div>
              <div class="tab" data-tab="3">Поедим поедим</div>
              <div class="tab" data-tab="4">Тусэ</div>
              <div class="tab" data-tab="5">Кейтеринг</div>
            </div>
            <div class="events__cards">
              <div class="events__card card selected" data-tab="1">
                <div class="card__item item">
                  <div class="wrap">
                    <div class="item-wrap">
                      <div class="img-cage"><img src="img/tab-1.png" alt="Tab image"></div>
                    </div>
                    <div class="item__wrap">
                      <div class="item__title">Friends Day</div>
                      <div class="item__restaurant">Тусэ</div>
                      <div class="item__text">Каждый четверг  ТУСЭ —собирает друзей! Насладитесь изысканными сетами от 30 рублей, ощутите дым кальянов, начиная всего за 30 рублей, и освежитесь бодрящими напитками от 5 рублей. Встречайте вечер в кругу близких и наслаждайтесь неповторимой атмосферой каждого четверга в ТУСЭ!"</div>
                    </div>
                  </div>
                </div>
                <div class="card__item item">
                  <div class="wrap">
                    <div class="item-wrap">
                      <div class="img-cage"><img src="img/tab-2.png" alt="Tab image"></div>
                    </div>
                    <div class="item__wrap">
                      <div class="item__title">Встречаем весну!</div>
                      <div class="item__restaurant">Поедем поедим </div>
                      <div class="item__text">17 марта приглашаем вас отпраздновать Масленицу весело и вкусно в нашем ресторане! С 14.00–17.00 вас ждет праздничная атмосфера, вкусные блюда, угощения блинами, а для наших маленьких гостей развлекательная программа.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="events__more">
              <div class="btn darker">Еще события</div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="footer__wrapper container">
            <div class="footer__row">
              <div class="footer__info">
                <div class="footer__logo">
                  <div class="img-cage"><img src="img/logo.svg" alt="Logo"></div>
                </div>
                <nav class="footer__nav"><a href="">Главная</a><a href="">События</a><a href="">О нас</a></nav>
              </div>
              <div class="footer__items">
                <div class="footer__item item">
                  <div class="item__title">The View</div>
                  <p>пр-т Победителей, 7а</p><a href="">+375 44 702 8888</a><a href="">theview@nrg.by</a>
                  <p>Пн. - Вс.: с 11.00 до 23.30</p>
                </div>
                <div class="footer__item item">
                  <div class="item__title">Кейтеринг</div>
                  <p>Сурганова 57Б, офис 120</p><a href="">+375 29 388 8488</a><a href="">sales@magic-catering.by</a>
                  <p>Пн. - Пт.: c 9:00 до 18:00</p>
                </div>
                <div class="footer__item item">
                  <div class="item__title">Поедим поедим</div>
                  <p>Боровлянский сельсовет, 55</p><a href="">+375 29 105 6666</a><a href="">amizbel@mail.ru</a>
                  <p>Пн - Вс: 10.00 – 00.00</p>
                </div>
                <div class="footer__item item">
                  <div class="item__title">Тусэ</div>
                  <p>ул. Сурганова, 57б</p><a href="">+375 44 709 2222</a><a href="">tuse@nrg.by</a>
                  <p>Пн-Чт: с 12.00 до 00.00<br>Пт: с 12.00 до 03.00<br>Сб: с 15.00 до 03.00<br>Вс: выходной</p>
                </div>
              </div>
            </div>
            <div class="footer__row bottom">
              <p>УНП 190644598</p><a href="">Разработка сайта: S&C Group</a>
            </div>
          </div>
        </footer>
        <script src="js/main.js"></script>
      </main>
    </div>
  </div>
</html>