<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NRG</title>
    <link rel="stylesheet" href="css/main.min.css"><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="libs/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="libs/slick/slick-theme.css"/>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="libs/slick/slick.min.js"></script>
    <script src="libs/scrollreveal/scrollreveal.min.js"> </script>
  </head>
  <body></body>
  <div class="g-wrap global single-page the-view">
    <div class="outer-bg">
      <header class="header">
        <div class="header__wrapper container">
          <div class="header__col">
            <div class="header__email"><a href="">theview@nrg.by</a></div>
          </div>
          <div class="header__col center">
            <div class="header__logo">
              <div class="img-cage"> <img src="img/logo-header.svg" alt="Logo"></div>
            </div>
          </div>
          <div class="header__col">
            <div class="header__lang">
              <div class="lang">РУС</div>
              <div class="lang">ENG</div>
            </div>
            <div class="header__instagram">
              <div class="img-cage"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="0.5" y="0.5" width="19" height="19" rx="5" stroke="#1D1D1D"/>
<circle cx="10" cy="10" r="4" stroke="#1D1D1D"/>
<circle cx="15.5" cy="4.5" r="1" fill="#1D1D1D"/>
</svg>
              </div>
            </div>
            <div class="header__menu">
              <div class="menu-icon menu-toggle"><img src="img/i-burger.svg" alt="Open burger menu"></div>
              <div class="menu-wrap menu">
                <div class="menu__wrapper">
                  <div class="menu__close menu-toggle"><svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="21.3536" y2="20.6464" stroke="white"/>
<line y1="-0.5" x2="28.2843" y2="-0.5" transform="matrix(-0.707107 0.707107 0.707107 0.707107 21 1)" stroke="white"/>
</svg>
                  </div>
                  <nav class="menu__body">
                    <ul>
                      <li><a href="">Главная</a></li>
                      <li><a href="">События</a></li>
                      <li><a href="">О нас</a></li>
                      <li><a href="">Наши заведения</a>
                        <ul>
                          <li><a href="">The View</a></li>
                          <li><a href="">Тусэ</a></li>
                          <li><a href="">Поедим поедим</a></li>
                          <li><a href="">кейтеринг</a></li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main class="g-main">
        <div class="banner-menu banner">
          <div class="banner__wrapper">
            <div class="banner__title container">Меню</div>
          </div>
        </div>
        <div class="single-menu menu">
          <div class="menu__wrapper container">
            <div class="menu__col left">
              <div class="wrap"> <a class="selected" href="#anchor-1">Завтраки</a><a href="#anchor-2">Десерты</a><a href="">Горячие закуски</a><a href="">Холодные закуски</a><a href="">Тартар и карпачо</a></div>
            </div>
            <div class="menu__col right">
              <div class="menu__block">
                <div class="block-anchor" id="anchor-1"></div>
                <div class="title">Завтраки</div>
                <div class="items">
                  <div class="item">
                    <div class="col left">
                      <div class="name">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                      <div class="desc">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                    </div>
                    <div class="col right">
                      <div class="sm portion">350 гр.</div>
                      <div class="sm price">22 руб</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col left">
                      <div class="name">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                      <div class="desc">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                    </div>
                    <div class="col right">
                      <div class="sm portion">350 гр.</div>
                      <div class="sm price">22 руб</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col left">
                      <div class="name">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                      <div class="desc">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                    </div>
                    <div class="col right">
                      <div class="sm portion">350 гр.</div>
                      <div class="sm price">22 руб</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col left">
                      <div class="name">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                      <div class="desc">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                    </div>
                    <div class="col right">
                      <div class="sm portion">350 гр.</div>
                      <div class="sm price">22 руб</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col left">
                      <div class="name">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                      <div class="desc">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                    </div>
                    <div class="col right">
                      <div class="sm portion">350 гр.</div>
                      <div class="sm price">22 руб</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col left">
                      <div class="name">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                      <div class="desc">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                    </div>
                    <div class="col right">
                      <div class="sm portion">350 гр.</div>
                      <div class="sm price">22 руб</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col left">
                      <div class="name">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                      <div class="desc">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                    </div>
                    <div class="col right">
                      <div class="sm portion">350 гр.</div>
                      <div class="sm price">22 руб</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col left">
                      <div class="name">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                      <div class="desc">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                    </div>
                    <div class="col right">
                      <div class="sm portion">350 гр.</div>
                      <div class="sm price">22 руб</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col left">
                      <div class="name">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                      <div class="desc">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                    </div>
                    <div class="col right">
                      <div class="sm portion">350 гр.</div>
                      <div class="sm price">22 руб</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col left">
                      <div class="name">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                      <div class="desc">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                    </div>
                    <div class="col right">
                      <div class="sm portion">350 гр.</div>
                      <div class="sm price">22 руб</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col left">
                      <div class="name">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                      <div class="desc">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                    </div>
                    <div class="col right">
                      <div class="sm portion">350 гр.</div>
                      <div class="sm price">22 руб</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col left">
                      <div class="name">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                      <div class="desc">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                    </div>
                    <div class="col right">
                      <div class="sm portion">350 гр.</div>
                      <div class="sm price">22 руб</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="divider">
                <div class="img-cage"><svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_14_13037)">
<path d="M14.25 4.11305C14.0424 3.79786 13.9219 3.42236 13.9219 3.01928C13.9219 1.90406 14.8442 1 15.982 1C17.1197 1 18.0421 1.90406 18.0421 3.01928C18.0421 3.42236 17.9216 3.79786 17.714 4.11305" stroke="#9C8569" stroke-width="1.01875" stroke-linejoin="round"/>
<path d="M30.3163 17.8282C30.3163 10.0681 23.8983 3.77734 15.9814 3.77734C8.06443 3.77734 1.64648 10.0681 1.64648 17.8282" stroke="#9C8569" stroke-width="1.01875" stroke-linejoin="round"/>
<path d="M14.4774 6.13281C12.7607 6.1889 8.82932 7.17611 6.83789 10.6762" stroke="#9C8569" stroke-width="1.01875" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M5.76698 12.5273C5.76698 12.5273 5.46655 13.0322 5.25195 13.537" stroke="#9C8569" stroke-width="1.01875" stroke-linecap="round" stroke-linejoin="round"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M31.9049 17.2969C31.8083 17.1747 31.6611 17.1035 31.5054 17.1035H15.9688V18.1223H30.8614L30.4157 20.0062H15.9688V21.025H30.8187C31.0548 21.025 31.26 20.8627 31.3144 20.6329L32.0011 17.7302C32.0369 17.5786 32.0015 17.419 31.9049 17.2969Z" fill="#9C8569"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M0.0804911 17.2969C0.177099 17.1747 0.324265 17.1035 0.479986 17.1035H16.0166V18.1223H1.12392L1.56962 20.0062H16.0166V21.025H1.16669C0.930543 21.025 0.725362 20.8627 0.670997 20.6329L-0.0157051 17.7302C-0.0515537 17.5786 -0.0161171 17.419 0.0804911 17.2969Z" fill="#9C8569"/>
</g>
<defs>
<clipPath id="clip0_14_13037">
<rect width="32" height="22" fill="white"/>
</clipPath>
</defs>
</svg>
                </div>
              </div>
              <div class="menu__block">
                <div class="block-anchor" id="anchor-2"></div>
                <div class="title">Завтраки</div>
                <div class="items">
                  <div class="item">
                    <div class="col left">
                      <div class="name">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                      <div class="desc">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                    </div>
                    <div class="col right">
                      <div class="sm portion">350 гр.</div>
                      <div class="sm price">22 руб</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col left">
                      <div class="name">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                      <div class="desc">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                    </div>
                    <div class="col right">
                      <div class="sm portion">350 гр.</div>
                      <div class="sm price">22 руб</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col left">
                      <div class="name">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                      <div class="desc">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                    </div>
                    <div class="col right">
                      <div class="sm portion">350 гр.</div>
                      <div class="sm price">22 руб</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col left">
                      <div class="name">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                      <div class="desc">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                    </div>
                    <div class="col right">
                      <div class="sm portion">350 гр.</div>
                      <div class="sm price">22 руб</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col left">
                      <div class="name">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                      <div class="desc">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                    </div>
                    <div class="col right">
                      <div class="sm portion">350 гр.</div>
                      <div class="sm price">22 руб</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col left">
                      <div class="name">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                      <div class="desc">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                    </div>
                    <div class="col right">
                      <div class="sm portion">350 гр.</div>
                      <div class="sm price">22 руб</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col left">
                      <div class="name">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                      <div class="desc">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                    </div>
                    <div class="col right">
                      <div class="sm portion">350 гр.</div>
                      <div class="sm price">22 руб</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col left">
                      <div class="name">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                      <div class="desc">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                    </div>
                    <div class="col right">
                      <div class="sm portion">350 гр.</div>
                      <div class="sm price">22 руб</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col left">
                      <div class="name">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                      <div class="desc">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                    </div>
                    <div class="col right">
                      <div class="sm portion">350 гр.</div>
                      <div class="sm price">22 руб</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col left">
                      <div class="name">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                      <div class="desc">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                    </div>
                    <div class="col right">
                      <div class="sm portion">350 гр.</div>
                      <div class="sm price">22 руб</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col left">
                      <div class="name">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                      <div class="desc">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                    </div>
                    <div class="col right">
                      <div class="sm portion">350 гр.</div>
                      <div class="sm price">22 руб</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col left">
                      <div class="name">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                      <div class="desc">Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)</div>
                    </div>
                    <div class="col right">
                      <div class="sm portion">350 гр.</div>
                      <div class="sm price">22 руб</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="footer__wrapper container">
            <div class="footer__row">
              <div class="footer__info">
                <div class="footer__logo">
                  <div class="img-cage"><img src="img/logo.svg" alt="Logo"></div>
                </div>
                <nav class="footer__nav"><a href="">Главная</a><a href="">События</a><a href="">О нас</a></nav>
              </div>
              <div class="footer__items">
                <div class="footer__item item">
                  <div class="item__title">The View</div>
                  <p>пр-т Победителей, 7а</p><a href="">+375 44 702 8888</a><a href="">theview@nrg.by</a>
                  <p>Пн. - Вс.: с 11.00 до 23.30</p>
                </div>
                <div class="footer__item item">
                  <div class="item__title">Кейтеринг</div>
                  <p>Сурганова 57Б, офис 120</p><a href="">+375 29 388 8488</a><a href="">sales@magic-catering.by</a>
                  <p>Пн. - Пт.: c 9:00 до 18:00</p>
                </div>
                <div class="footer__item item">
                  <div class="item__title">Поедим поедим</div>
                  <p>Боровлянский сельсовет, 55</p><a href="">+375 29 105 6666</a><a href="">amizbel@mail.ru</a>
                  <p>Пн - Вс: 10.00 – 00.00</p>
                </div>
                <div class="footer__item item">
                  <div class="item__title">Тусэ</div>
                  <p>ул. Сурганова, 57б</p><a href="">+375 44 709 2222</a><a href="">tuse@nrg.by</a>
                  <p>Пн-Чт: с 12.00 до 00.00<br>Пт: с 12.00 до 03.00<br>Сб: с 15.00 до 03.00<br>Вс: выходной</p>
                </div>
              </div>
            </div>
            <div class="footer__row bottom">
              <p>УНП 190644598</p><a href="">Разработка сайта: S&C Group</a>
            </div>
          </div>
        </footer>
        <script src="js/main.js"></script>
      </main>
    </div>
  </div>
</html>