.inner-banner.banner
    .banner__wrapper.container
        .banner__col.text
            .wrap 
                .banner__title Открытие веранды
                .banner__text Ресторан The View открывает веранду на 28 этаже, чтобы вы могли радоваться своими любимыми блюдами с головокружительным видом на исторический центр Минска.
                .banner__btns
                    .btn.filled Забронировать
                    .btn.darker Подробнее
        .banner__col.image
            .img-cage
                img(src="img/inner-banner.png", alt="Inner banner")