.main-events.inner {
    margin-bottom: 80px;

    .events__btns {
        gap: 20px;
    }

    .slider__item {
        .item__title {
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}
