.main-banner.banner
    .banner__wrapper
        .banner-wrap
            .banner__slider
                .banner__slide
                    .img-cage
                        img(src="img/banner-1.png", alt="Banner slide")
                .banner__slide
                    .img-cage
                        img(src="img/banner-2.png", alt="Banner slide")
                .banner__slide
                    .img-cage
                        img(src="img/banner-3.png", alt="Banner slide")
        .banner__wrap.container
            .banner__logo
                .img-cage
                    img(src="img/logo.svg", alt="Logo")