.restaurants-cards.cards.block
    .cards__wrapper
        .cards__title.h2.container Наши заведения
        .cards__list.list
            .list__item
                .list__item-image
                    .img-cage 
                        img(src="img/card-1.png", alt="Card image")
                .list__item-wrap
                    .img-cage 
                        img(src="img/logo-1.svg", alt="Card logo")
                .list__item-hover
                    .wrap
                        .address г. Минск, Сурганова 57Б, офис 120 
                        a.phone +375 29 388 8488
                        .hours sales@magic-catering.by
                        a.btn Подробнее
            .list__item
                .list__item-image
                    .img-cage 
                        img(src="img/card-2.png", alt="Card image")
                .list__item-wrap
                    .img-cage 
                        img(src="img/logo-2.svg", alt="Card logo")
                .list__item-hover
                    .wrap
                        .address г. Минск, Сурганова 57Б, офис 120 
                        a.phone +375 29 388 8488
                        .hours sales@magic-catering.by
                        a.btn Подробнее
            .list__item
                .list__item-image
                    .img-cage 
                        img(src="img/card-3.png", alt="Card image")
                .list__item-wrap
                    .img-cage 
                        img(src="img/logo-3.svg", alt="Card logo")
                .list__item-hover
                    .wrap
                        .address г. Минск, Сурганова 57Б, офис 120 
                        a.phone +375 29 388 8488
                        .hours sales@magic-catering.by
                        a.btn Подробнее
            .list__item
                .list__item-image
                    .img-cage 
                        img(src="img/card-4.png", alt="Card image")
                .list__item-wrap
                    .img-cage 
                        img(src="img/logo-4.svg", alt="Card logo")
                .list__item-hover
                    .wrap
                        .address г. Минск, Сурганова 57Б, офис 120 
                        a.phone +375 29 388 8488
                        .hours sales@magic-catering.by
                        a.btn Подробнее