.main-events.events.block
    .events__wrapper.container
        .events-wrap
            .events__title.h2 События
            .events__btns
                .events__left.slider-btn
                    <svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 1L1 11L11 21" stroke="#756D7B"/>
                    </svg>
                .events__btn.btn.filled Все события
                .events__right.slider-btn
                    <svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L11 11L1 21" stroke="#756D7B"/>
                    </svg>
        .events__wrap.slider
            .slider__item.item
                .item__row
                    .item__col.text
                        .item__title Открытие веранды
                        .item__restaurant The View
                        .item__text Ресторан The View открывает веранду на 28 этаже, чтобы вы могли радоваться своими любимыми блюдами с головокружительным видом на исторический центр Минска.
                    .item__col.image
                        .img-cage 
                            img(src="img/events-1.png", alt="Events card")
            .slider__item.item
                .item__row
                    .item__col.text
                        .item__title Встречаем Весну!
                        .item__restaurant Поедем поедим
                        .item__text 17 марта приглашаем вас отпраздновать Масленицу весело и вкусно в нашем ресторане! С 14.00–17.00 вас ждет праздничная атмосфера, вкусные блюда, угощения блинами, а для наших маленьких гостей развлекательная программа.
                    .item__col.image
                        .img-cage 
                            img(src="img/events-2.png", alt="Events card")
            .slider__item.item
                .item__row
                    .item__col.text
                        .item__title Friends Day
                        .item__restaurant Тусэ
                        .item__text Каждый четверг  ТУСЭ —собирает друзей! Насладитесь изысканными сетами от 30 рублей, ощутите дым кальянов, начиная всего за 30 рублей, и освежитесь бодрящими напитками от 5 рублей. Встречайте вечер  в кругу близких и наслаждайтесь неповторимой атмосферой каждого четверга...
                    .item__col.image
                        .img-cage 
                            img(src="img/events-3.png", alt="Events card")