.main-newsfeed.newsfeed.block
    .newsfeed__wrapper.container
        .newsfeed__tabs.d_tabs
            .tab(data-tab="1").selected The View
            .tab(data-tab="2") Поедим поедим
            .tab(data-tab="3") Тусэ
            .tab(data-tab="4") Кейтеринг
        .newsfeed__cards
            .newsfeed__card.card(data-tab="1").selected
                .card-wrap
                    .img-cage
                        img(src="img/tab-1.png", alt="Tab image")
                .card__wrap
                    .wrap
                        .card__title Открытие веранды
                        .card__text Ресторан The View открывает веранду на 28 этаже, чтобы вы могли радоваться своими любимыми блюдами с головокружительным видом на исторический центр Минска.
                        .card__btns
                            .btn.filled Забронировать
                            .btn Подробнее
            .newsfeed__card.card(data-tab="2")
                .card-wrap
                    .img-cage
                        img(src="img/tab-2.png", alt="Tab image")
                .card__wrap
                    .wrap
                        .card__title Встречаем весну!
                        .card__text 17 марта приглашаем вас отпраздновать Масленицу весело и вкусно в нашем ресторане! С 14.00–17.00 вас ждет праздничная атмосфера, вкусные блюда, угощения блинами, а для наших маленьких гостей развлекательная программа.
                        .card__btns
                            .btn.filled Забронировать
                            .btn Подробнее
            .newsfeed__card.card(data-tab="3")
                .card-wrap
                    .img-cage
                        img(src="img/tab-3.png", alt="Tab image")
                .card__wrap
                    .wrap
                        .card__title Friends Day
                        .card__text Каждый четверг  ТУСЭ —собирает друзей! Насладитесь изысканными сетами от 30 рублей, ощутите дым кальянов, начиная всего за 30 рублей, и освежитесь бодрящими напитками от 5 рублей. Встречайте вечер  в кругу близких и наслаждайтесь неповторимой атмосферой каждого четверга в ТУСЭ!"
                        .card__btns
                            .btn.filled Забронировать
                            .btn Подробнее
            .newsfeed__card.card(data-tab="4")
                .card-wrap
                    .img-cage
                        img(src="img/tab-4.png", alt="Tab image")
                .card__wrap
                    .wrap
                        .card__title Мы открыли летний сезон
                        .card__text Границы закрыты и нет возможности отдохнуть у моря? Мы сделаем так, чтобы вы хорошо отдохнули этим летом!  С 1 мая открыли летнее кафе «Лето». Находимся в «Центре парусного спорта» на Минском море.
                        .card__btns
                            .btn.filled Забронировать
                            .btn Подробнее