.restonav.block
    .restonav__wrapper.container
        .restonav__title.h2 Рестонавигатор
        .restonav__items
            .restonav__item.item
                .item__name The View
                .item__address г. Минск, пр-т Победителей, 7а
                .item__btn.btn Проложить маршрут
            .restonav__item.item
                .item__name Тусэ
                .item__address г. Минск, ул. Сурганова, 57б
                .item__btn.btn Проложить маршрут
            .restonav__item.item
                .item__name Поедим поедим
                .item__address г. Минск, Боровлянский сельсовет, 55
                .item__btn.btn Проложить маршрут
            .restonav__item.item
                .item__name Кейтринг
                .item__address г. Минск, ул. Сурганова, 57б, офис 120
                .item__btn.btn Проложить маршрут
        .restonav__map
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A2d2a1102d93757e6889c83a33d2479de15ead4714ec4df748fd83c4d7d4606cf&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>