extends layout/app

block page
   div(class="g-wrap global index-page")
      div(class="outer-bg")
         include chunk/header
         main(class="g-main")
            include about/content
            include about/contacts
            include chunk/footer