extends layout/app

block page
   div(class="g-wrap global index-page")
      div(class="outer-bg")
         include chunk/header
         main(class="g-main event-was")
            include event/banner
            include chunk/footer