extends layout/app

block page
   include chunk/header

   h1.title Главная

   img(src="img/sierra.jpeg", width="50%")

   ul.news
      each item in news
         li= item.name

   include chunk/footer