extends layout/app

block page
   div(class="g-wrap global single-page the-view")
      div(class="outer-bg")
         include chunk/single-header
         main(class="g-main")
            include single/banner
            include single/accent-text
            include single/images-slider
            include single/content-block
            include single/map
            include chunk/footer