header.header
    .header__wrapper.container
        .header__col
            .header__email
                a(href="") theview@nrg.by
        .header__col.center
            .header__logo
                .img-cage 
                    img(src="img/logo-header.svg", alt="Logo")
        .header__col
            .header__lang
                .lang РУС
                .lang ENG
            .header__instagram
                .img-cage
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="0.5" width="19" height="19" rx="5" stroke="#1D1D1D"/>
                        <circle cx="10" cy="10" r="4" stroke="#1D1D1D"/>
                        <circle cx="15.5" cy="4.5" r="1" fill="#1D1D1D"/>
                    </svg>
            .header__menu
                .menu-icon.menu-toggle
                    img(src="img/i-burger.svg", alt="Open burger menu")
                .menu-wrap.menu
                    .menu__wrapper
                        .menu__close.menu-toggle
                            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line x1="1.35355" y1="0.646447" x2="21.3536" y2="20.6464" stroke="white"/>
                                <line y1="-0.5" x2="28.2843" y2="-0.5" transform="matrix(-0.707107 0.707107 0.707107 0.707107 21 1)" stroke="white"/>
                            </svg>
                        nav.menu__body
                            ul
                                li
                                    a(href="") Главная
                                li
                                    a(href="") События
                                li
                                    a(href="") О нас
                                li
                                    a(href="") Наши заведения
                                    ul
                                        li
                                            a(href="") The View
                                        li
                                            a(href="") Тусэ
                                        li
                                            a(href="") Поедим поедим
                                        li
                                            a(href="") кейтеринг