.accent-text.text.block
    .text__wrapper.container
        p <span>The View</span> – это высокая точка <span>на&nbsp;карте города, где пересекаются</span> хороший вкус <span>и</span> легкость бытия. 