.single-banner.banner
    .banner__wrapper.container
        .banner__card.card(data-tab="1").selected
            .card-wrap
                .img-cage
                    img(src="img/tab-1.png", alt="Tab image")
            .card__wrap
                .wrap
                    .card__title Открытие веранды
                    .card__text Ресторан The View открывает веранду на 28 этаже, чтобы вы могли радоваться своими любимыми блюдами с головокружительным видом на исторический центр Минска.
                    .card__btns
                        .btn.filled Забронировать
                        .btn Подробнее