.about-content.content
    .content__wrapper.container
        .content__block.block
            .col
                .title 3D Тур
                .text Для бронирования столика следует тщательно выбрать себе место, но как выбрать место, не находясь в ресторане? Легко! Мы сделали для вас 3D тур
                .btn.filled Просмотреть
            .col.image
                .img-cage
                    img(src="img/single-slider-3.png", alt="Block image")