.images-slider.slider.block
    .slider__wrapper
        .slider__items
            .slider__item.item
                .item-wrap
                    .img-cage
                        img(src="img/single-slider-1.png", alt="Slider item")
            .slider__item.item
                .item-wrap
                    .img-cage
                        img(src="img/single-slider-2.png", alt="Slider item")
            .slider__item.item
                .item-wrap
                    .img-cage
                        img(src="img/single-slider-3.png", alt="Slider item")
            .slider__item.item
                .item-wrap
                    .img-cage
                        img(src="img/single-slider-4.png", alt="Slider item")
            .slider__item.item
                .item-wrap
                    .img-cage
                        img(src="img/single-slider-5.png", alt="Slider item")