.single-map.map.block
    .map__wrapper.container
        .map-wrap
            .img-cage
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A9e86d68e91bc3870da44b68ccaa357fdab72b8ce97e5596cb16aebf10fbc5ef5&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
            .map-detail
                .title The View
                .text пр-т. Победителей 7А, Минск
                .text Пн. - Вс.: с 11.00 до 23.30
            .map-btn.btn.filled Проложить маршрут
        .map__contacts
            .map__contact
                .title Телефон:
                a.text +375 44 702 8888
            .map__contact
                .title Email:
                a.text theview@nrg.by