.single-menu.menu
    .menu__wrapper.container
        .menu__col.left
            .wrap 
                a(href="#anchor-1").selected Завтраки
                a(href="#anchor-2") Десерты
                a(href="") Горячие закуски
                a(href="") Холодные закуски
                a(href="") Тартар и карпачо
        .menu__col.right
            .menu__block
                #anchor-1.block-anchor
                .title Завтраки
                .items
                    .item
                        .col.left
                            .name Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                            .desc Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                        .col.right
                            .sm.portion 350 гр.
                            .sm.price 22 руб
                    .item
                        .col.left
                            .name Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                            .desc Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                        .col.right
                            .sm.portion 350 гр.
                            .sm.price 22 руб
                    .item
                        .col.left
                            .name Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                            .desc Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                        .col.right
                            .sm.portion 350 гр.
                            .sm.price 22 руб
                    .item
                        .col.left
                            .name Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                            .desc Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                        .col.right
                            .sm.portion 350 гр.
                            .sm.price 22 руб
                    .item
                        .col.left
                            .name Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                            .desc Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                        .col.right
                            .sm.portion 350 гр.
                            .sm.price 22 руб
                    .item
                        .col.left
                            .name Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                            .desc Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                        .col.right
                            .sm.portion 350 гр.
                            .sm.price 22 руб
                    .item
                        .col.left
                            .name Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                            .desc Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                        .col.right
                            .sm.portion 350 гр.
                            .sm.price 22 руб
                    .item
                        .col.left
                            .name Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                            .desc Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                        .col.right
                            .sm.portion 350 гр.
                            .sm.price 22 руб
                    .item
                        .col.left
                            .name Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                            .desc Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                        .col.right
                            .sm.portion 350 гр.
                            .sm.price 22 руб
                    .item
                        .col.left
                            .name Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                            .desc Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                        .col.right
                            .sm.portion 350 гр.
                            .sm.price 22 руб
                    .item
                        .col.left
                            .name Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                            .desc Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                        .col.right
                            .sm.portion 350 гр.
                            .sm.price 22 руб
                    .item
                        .col.left
                            .name Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                            .desc Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                        .col.right
                            .sm.portion 350 гр.
                            .sm.price 22 руб
            .divider
                .img-cage
                    <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_14_13037)">
                        <path d="M14.25 4.11305C14.0424 3.79786 13.9219 3.42236 13.9219 3.01928C13.9219 1.90406 14.8442 1 15.982 1C17.1197 1 18.0421 1.90406 18.0421 3.01928C18.0421 3.42236 17.9216 3.79786 17.714 4.11305" stroke="#9C8569" stroke-width="1.01875" stroke-linejoin="round"/>
                        <path d="M30.3163 17.8282C30.3163 10.0681 23.8983 3.77734 15.9814 3.77734C8.06443 3.77734 1.64648 10.0681 1.64648 17.8282" stroke="#9C8569" stroke-width="1.01875" stroke-linejoin="round"/>
                        <path d="M14.4774 6.13281C12.7607 6.1889 8.82932 7.17611 6.83789 10.6762" stroke="#9C8569" stroke-width="1.01875" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5.76698 12.5273C5.76698 12.5273 5.46655 13.0322 5.25195 13.537" stroke="#9C8569" stroke-width="1.01875" stroke-linecap="round" stroke-linejoin="round"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M31.9049 17.2969C31.8083 17.1747 31.6611 17.1035 31.5054 17.1035H15.9688V18.1223H30.8614L30.4157 20.0062H15.9688V21.025H30.8187C31.0548 21.025 31.26 20.8627 31.3144 20.6329L32.0011 17.7302C32.0369 17.5786 32.0015 17.419 31.9049 17.2969Z" fill="#9C8569"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0804911 17.2969C0.177099 17.1747 0.324265 17.1035 0.479986 17.1035H16.0166V18.1223H1.12392L1.56962 20.0062H16.0166V21.025H1.16669C0.930543 21.025 0.725362 20.8627 0.670997 20.6329L-0.0157051 17.7302C-0.0515537 17.5786 -0.0161171 17.419 0.0804911 17.2969Z" fill="#9C8569"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_14_13037">
                        <rect width="32" height="22" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
            .menu__block
                #anchor-2.block-anchor
                .title Завтраки
                .items
                    .item
                        .col.left
                            .name Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                            .desc Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                        .col.right
                            .sm.portion 350 гр.
                            .sm.price 22 руб
                    .item
                        .col.left
                            .name Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                            .desc Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                        .col.right
                            .sm.portion 350 гр.
                            .sm.price 22 руб
                    .item
                        .col.left
                            .name Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                            .desc Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                        .col.right
                            .sm.portion 350 гр.
                            .sm.price 22 руб
                    .item
                        .col.left
                            .name Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                            .desc Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                        .col.right
                            .sm.portion 350 гр.
                            .sm.price 22 руб
                    .item
                        .col.left
                            .name Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                            .desc Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                        .col.right
                            .sm.portion 350 гр.
                            .sm.price 22 руб
                    .item
                        .col.left
                            .name Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                            .desc Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                        .col.right
                            .sm.portion 350 гр.
                            .sm.price 22 руб
                    .item
                        .col.left
                            .name Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                            .desc Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                        .col.right
                            .sm.portion 350 гр.
                            .sm.price 22 руб
                    .item
                        .col.left
                            .name Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                            .desc Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                        .col.right
                            .sm.portion 350 гр.
                            .sm.price 22 руб
                    .item
                        .col.left
                            .name Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                            .desc Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                        .col.right
                            .sm.portion 350 гр.
                            .sm.price 22 руб
                    .item
                        .col.left
                            .name Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                            .desc Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                        .col.right
                            .sm.portion 350 гр.
                            .sm.price 22 руб
                    .item
                        .col.left
                            .name Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                            .desc Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                        .col.right
                            .sm.portion 350 гр.
                            .sm.price 22 руб
                    .item
                        .col.left
                            .name Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                            .desc Во все тяжкие (яичница, бекон, сосиска, картофель, шампиньоны, огурец, тост)
                        .col.right
                            .sm.portion 350 гр.
                            .sm.price 22 руб