.inner-events.events.block
    .events__wrapper.container
        .events__cards
            .events__card.card.selected
                .card__item.item
                    .wrap
                        .item-wrap
                            .img-cage
                                img(src="img/tab-1.png", alt="Tab image")
                        .item__wrap
                            .item__title Friends Day
                            .item__restaurant Тусэ
                            .item__text Каждый четверг  ТУСЭ —собирает друзей! Насладитесь изысканными сетами от 30 рублей, ощутите дым кальянов, начиная всего за 30 рублей, и освежитесь бодрящими напитками от 5 рублей. Встречайте вечер в кругу близких и наслаждайтесь неповторимой атмосферой каждого четверга в ТУСЭ!"
                .card__item.item
                    .wrap
                        .item-wrap
                            .img-cage
                                img(src="img/tab-2.png", alt="Tab image")
                        .item__wrap
                            .item__title Встречаем весну!
                            .item__restaurant Поедем поедим 
                            .item__text 17 марта приглашаем вас отпраздновать Масленицу весело и вкусно в нашем ресторане! С 14.00–17.00 вас ждет праздничная атмосфера, вкусные блюда, угощения блинами, а для наших маленьких гостей развлекательная программа.
        .events__more
            .btn.darker Еще события
