doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title NRG
      link(rel="stylesheet", href="css/main.min.css")
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="libs/slick/slick.css"/>
      <link rel="stylesheet" type="text/css" href="libs/slick/slick-theme.css"/>
      <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script type="text/javascript" src="libs/slick/slick.min.js"></script>
      script(src="libs/scrollreveal/scrollreveal.min.js") 
   body
   block page