.detail-banner.banner
    .banner__wrapper
        .banner-wrap
            .img-cage
                img(src="img/inner-banner.png", alt="Event")
        .banner__wrap.container
            .banner__title Открытие веранды
            .row
                .banner__restaurant The View
                .banner__date 02.06.2026
.detail-content.content
    .content__wrapper.container
        .content__text Ресторан The View рад представить вам свою новую веранду, расположенную на 25-м этаже, чтобы вы могли наслаждаться не только великолепной кухней, но и видом на исторический центр Минска. На этой веранде мы создали все условия для вашего комфорта: специальные системы контроля температуры поддерживают приятную атмосферу даже в самые жаркие дни, а уютная зона для курения позволит вам расслабиться и насладиться безмятежностью. Здесь вы можете проводить время, наслаждаясь красивыми закатами или просто погружаясь в приятные разговоры в компании своих близких. Расслабьтесь под лучами солнца, наслаждаясь прохладными напитками и мелодией пения птиц. Наша веранда станет прекрасным местом для отдыха и наслаждения жизнью. 
        .content__btns
            .btn.filled Забронировать
            .btn.darker Назад к событиям