.detail-banner.banner
    .banner__wrapper
        .banner-wrap
            .img-cage
                img(src="img/inner-banner.png", alt="Event")
        .banner__wrap.container
            .banner__title Открытие веранды
            .row
                .banner__restaurant The View
                .banner__date 02.06.2026